/* Login.css */

/* Style pour l'arrière-plan bleu */
.all-page {
  background-color: #6190ba3b; /* Bleu */
  min-height: 100vh; /* Hauteur minimale de la page pour s'adapter à l'écran */
  display: flex;
  align-items: center;
  flex-direction: column;
 
}

/* Style pour le contenu dans la page */
.container-content {
  background-color: #fff; /* Fond blanc pour le contenu */
  padding: 20px; /* Espacement interne */
  border-radius: 10px; /* Coins arrondis */
  justify-content: center;

}

.Row{
  background-color: #ffffff; /* Couleur de fond */
  border-radius: 10px; /* Rayon de bordure pour arrondir les coins */
  padding: 100px; /* Espacement interne pour le contenu */
  height: 100vh;
  top:0;
  left:0;


}
.bold-text {
  font-weight: bold;
  font-size: 2.2em;
}
/* Login.css */

/* Style pour agrandir les champs d'entrée et les boutons */




/* Ajoutez ceci à votre fichier Login.css */

/* Style pour positionner le champ de mot de passe en dessous du champ d'email */
.col-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-large {
  width: 350px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px; /* Ajoute un espacement entre les champs */
}

.button-large {
  background-color: #6190ba;
  width: 350px;
  height: 30px;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 20px; /* Ajoute un espacement au-dessus du bouton */
}
